#Content0_0.kasvdzyj8l-editor_css {
  background-clip: padding-box;
  background-color: #222222;
}
#Content0_0 .kasvcwy8ty-editor_css {
  color: #bfbfbf;
}
#Content0_0 .ant-col > .content0-block-item > .kasvi6owicc-editor_css {
  color: #e9e9e9;
}
#Content0_0 .ant-col > .content0-block-item > .kasvhvvupz-editor_css {
  color: #e9e9e9;
}
#Content0_0 .ant-col > .content0-block-item > .kasvid4yz2h-editor_css {
  color: #e9e9e9;
}
#Content0_0 .home-page > .title-wrapper > .kasvb4njo3l-editor_css {
  color: #e9e9e9;
}
#Content0_0 .ant-col > .content0-block-item > .kasvnb1oglp-editor_css {
  color: rgb(145, 145, 145);
}
#Content0_0 .ant-col > .content0-block-item > .kasvnegzr7-editor_css {
  color: rgb(145, 145, 145);
}
#Content0_0 .ant-col > .content0-block-item > .kasvnhkf46m-editor_css {
  color: rgb(145, 145, 145);
}
#Banner0_0.kasv2tnm4h-editor_css {
  background-image: url('https://s3.us-west-2.amazonaws.com/secure.notion-static.com/e0f9f11d-a830-4e2c-9446-2448776e44d0/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200529%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200529T135232Z&X-Amz-Expires=86400&X-Amz-Signature=cfd9aac2884409279dc6d7bfc966447b4e6f91314b97e9da24b63b53b0ffd574&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22');
}
#Banner0_0 .kasw16oszm-editor_css {
}
#Banner0_0 .banner0-text-wrapper > .kasv452pwsi-editor_css {
  font-size: 30px;
  font-weight: bold;
  left: auto;
}
